<%- include("partials/header") %>

<div class="container px-5 py-5">
  <div class="about-box">
    <h2 class="about-title">About Me</h2>
    <p class="about-description">Hi, I am Anurag Kumar Dubey, a pre-final year student pursuing B.Tech in Electrical Engineering from National Institute of Technology, Jamshedpur. I am a Web developer and a Programmer. I am currently learning the MERN Stack, Data Structures, Algorithms as well as working to sharpen my problem-solving skills. I love to code, learn and explore new things - tech-related or otherwise, and it brings me immense pleasure to build something from scratch. In my leisure time, I like to watch movies</p>
    <p class="about-contact">You can contact me through these links:</p>
    <ul class="contact-links">
      <li><a href="https://www.linkedin.com/in/anurag-dubey-nitj" target="_blank"><img class="linkedin-logo" src="images/linkedin.png" alt="LinkedIn Logo"> LinkedIn</a></li>
      <li><a href="mailto:dubeyanurag018@gmail.com"><img class="email-logo" src="images/email.png" alt="Email Logo"> Email</a></li>
    </ul>
  </div>
</div>

<%- include("partials/footer") %>

<style>
  .about-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .about-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .about-description {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .about-contact {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact-links {
    list-style: none;
    padding: 0;
  }

  .contact-links li {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .linkedin-logo, .email-logo {
    width: 20px;
    height: auto;
    margin-right: 5px;
  }
</style>
